In [105]:
import pandas as pd

In [93]:
marcap_2022 = pd.read_csv('csv/2022_marcap.csv', encoding='CP949')
marcap_2022.drop(columns=['종가','대비','등락률','시가','고가','저가','거래량','거래대금','상장주식수'], inplace=True)
marcap_2022['시가총액'] = marcap_2022['시가총액'].sort_values(ascending=False)

marcap_2022

       종목코드       종목명          시가총액
0      5930      삼성전자  3.301290e+14
1    373220  LG에너지솔루션  1.019070e+14
2    207940  삼성바이오로직스  5.843390e+13
3       660    SK하이닉스  5.460020e+13
4     51910      LG화학  4.235540e+13
..      ...       ...           ...
938    2785    진흥기업우B  4.230371e+09
939    1525       동양우  3.947301e+09
940    1527     동양2우B  3.887969e+09
941    2787   진흥기업2우B  3.832504e+09
942     547   흥국화재2우B  2.488320e+09

[943 rows x 3 columns]

In [57]:
pbr_2022 = pd.read_csv('csv/2022_PBR.csv', encoding='CP949')
pbr_2022.drop(columns=['종가','대비','등락률','EPS','PER','선행 EPS','선행 PER','BPS','주당배당금','배당수익률','종목코드'], inplace=True)
pbr_2022 = pbr_2022.sort_values(by=['PBR'], ascending=[True]).reset_index(drop=True)

pbr_2022

           종목명   PBR
0          HDC  0.13
1         세원정공  0.14
2         한신공영  0.15
3     에스엘바이오닉스  0.15
4       롯데하이마트  0.16
...        ...   ...
2504    현대차3우B   NaN
2505      현대차우   NaN
2506     호텔신라우   NaN
2507   흥국화재2우B   NaN
2508     흥국화재우   NaN

[2509 rows x 2 columns]

In [120]:
dbi = pd.read_csv('csv/리얼 배당성향.csv', encoding='CP949')
dbi['회사명'] = dbi['회사명'].str.lstrip('(주)')
dbi['회사명'] = dbi['회사명'].str.rstrip('(주)')

dbi.drop(columns=['거래소코드','회계년도'], inplace=True)
dbi.columns = ['종목명','배당성향']
dbi

         종목명   배당성향
0      DB하이텍  10.12
1      HJ중공업   0.00
2      MH에탄올  28.62
3    SH에너지화학  89.07
4     SIMPAC  22.84
..       ...    ...
740    효성중공업   0.00
741   효성첨단소재  31.53
742    효성티앤씨  14.90
743     효성화학   0.00
744     흥아해운   0.00

[745 rows x 2 columns]

In [121]:
data = pd.merge(data, dbi, on='종목명')
data

       종목코드       종목명          시가총액 주식종류    PBR   배당성향
0      5930      삼성전자  3.301290e+14  보통주   1.27  38.59
1    207940  삼성바이오로직스  5.843390e+13  보통주  11.01   0.00
2      6400     삼성SDI  4.063980e+13  보통주   2.69   7.96
3       270        기아  2.403800e+13  보통주   0.68  71.83
4     35720       카카오  2.365130e+13  보통주   2.31   1.62
..      ...       ...           ...  ...    ...    ...
538    1210      금호전기  2.534986e+10  보통주   0.60   0.00
539   25620   제이준코스메틱  2.321030e+10  보통주   0.38   0.00
540   71950       코아스  2.256226e+10  보통주   1.20   0.00
541    8500      일정실업  1.968000e+10  보통주   1.04   0.00
542   30790     비케이탑스  1.920832e+10  보통주   2.71   0.00

[543 rows x 6 columns]

In [76]:
marcap_2022[marcap_2022['종목명'].str.contains('우')].reset_index()

       종목코드       종목명          시가총액
0      5930      삼성전자  3.301290e+14
1    373220  LG에너지솔루션  1.019070e+14
2    207940  삼성바이오로직스  5.843390e+13
3       660    SK하이닉스  5.460020e+13
4     51910      LG화학  4.235540e+13
..      ...       ...           ...
938    2785    진흥기업우B  4.230371e+09
939    1525       동양우  3.947301e+09
940    1527     동양2우B  3.887969e+09
941    2787   진흥기업2우B  3.832504e+09
942     547   흥국화재2우B  2.488320e+09

[943 rows x 3 columns]

In [91]:
# marcap_2022['종목명'].str.rstrip('우')
marcap_2022['종목명'] = marcap_2022['종목명'].str.rstrip('B')
marcap_2022['종목명'] = marcap_2022['종목명'].str.rstrip('우')

marcap_2022

       종목코드       종목명          시가총액
0      5930      삼성전자  3.301290e+14
1    373220  LG에너지솔루션  1.019070e+14
2    207940  삼성바이오로직스  5.843390e+13
3       660    SK하이닉스  5.460020e+13
4     51910      LG화학  4.235540e+13
..      ...       ...           ...
938    2785      진흥기업  4.230371e+09
939    1525        동양  3.947301e+09
940    1527       동양2  3.887969e+09
941    2787     진흥기업2  3.832504e+09
942     547     흥국화재2  2.488320e+09

[943 rows x 3 columns]

In [94]:
marcap_2022['종목명'].str.contains('우')

0      False
1      False
2      False
3      False
4      False
       ...
938     True
939     True
940     True
941     True
942     True
Name: 종목명, Length: 943, dtype: bool

In [78]:
marcap_2022['종목명'].rstrip('우')

AttributeError: 'Series' object has no attribute 'rstrip'

In [ ]:
is_woo = marcap_2022['종목명'].str.contains('우')
if is_woo :
    marcap_2022['종목명'].rstrip('우')

In [96]:
df = marcap_2022[marcap_2022['종목명'].str.endswith('우')]
df

      종목코드      종목명          시가총액
5     5935    삼성전자우  4.155580e+13
119  51915    LG화학우  2.133640e+12
139   5385     현대차우  1.802390e+12
235  66575    LG전자우  7.226710e+11
241  51905  LG생활건강우  6.624540e+11
..     ...      ...           ...
933  11155  CJ씨푸드1우  5.170000e+09
935  14915    성문전자우  4.800000e+09
936    545    흥국화재우  4.723200e+09
937   1745  SK네트웍스우  4.261800e+09
939   1525      동양우  3.947301e+09

[95 rows x 3 columns]

In [58]:
# data_2022 = pd.merge(marcap_2022, pbr_2022, on='종목명')
# data_2022.sort_values(by=['시가총액', 'PBR'], ascending=[False, True]).reset_index(drop=True)

       종목코드       종목명          시가총액    PBR
0      5930      삼성전자  3.301290e+14   1.27
1    373220  LG에너지솔루션  1.019070e+14  10.93
2    207940  삼성바이오로직스  5.843390e+13  11.01
3       660    SK하이닉스  5.460020e+13   0.83
4     51910      LG화학  4.235540e+13   2.15
..      ...       ...           ...    ...
909    2785    진흥기업우B  4.230371e+09    NaN
910    1525       동양우  3.947301e+09    NaN
911    1527     동양2우B  3.887969e+09    NaN
912    2787   진흥기업2우B  3.832504e+09    NaN
913     547   흥국화재2우B  2.488320e+09    NaN

[914 rows x 4 columns]

In [69]:
excel = pd.read_excel('csv/data_보통주_20240322.xlsx')
excel.drop(columns=['표준코드','단축코드','한글 종목명','영문 종목명','상장일','시장구분','증권구분','소속부','액면가','상장주식수'], inplace=True)

In [100]:
is_excel = excel['주식종류'] == '보통주'
test = excel[is_excel]
test.columns = ['종목명', '주식종류']
test

         종목명 주식종류
0     AJ네트웍스  보통주
1      AK홀딩스  보통주
2     BGF리테일  보통주
3        BGF  보통주
4    BNK금융지주  보통주
..       ...  ...
947      휴니드  보통주
948      휴비스  보통주
949      휴스틸  보통주
951     흥국화재  보통주
952     흥아해운  보통주

[839 rows x 2 columns]

In [104]:
data = pd.merge(marcap_2022, test, on='종목명')
data = pd.merge(data, pbr_2022, on='종목명')
data

       종목코드       종목명          시가총액 주식종류    PBR
0      5930      삼성전자  3.301290e+14  보통주   1.27
1    373220  LG에너지솔루션  1.019070e+14  보통주  10.93
2    207940  삼성바이오로직스  5.843390e+13  보통주  11.01
3       660    SK하이닉스  5.460020e+13  보통주   0.83
4     51910      LG화학  4.235540e+13  보통주   2.15
..      ...       ...           ...  ...    ...
761   19490      하이트론  2.373972e+10  보통주   1.14
762   25620   제이준코스메틱  2.321030e+10  보통주   0.38
763   71950       코아스  2.256226e+10  보통주   1.20
764    8500      일정실업  1.968000e+10  보통주   1.04
765   30790     비케이탑스  1.920832e+10  보통주   2.71

[766 rows x 5 columns]

In [108]:
data.sort_values(by='시가총액', ascending=False)

       종목코드       종목명          시가총액 주식종류    PBR
0      5930      삼성전자  3.301290e+14  보통주   1.27
1    373220  LG에너지솔루션  1.019070e+14  보통주  10.93
2    207940  삼성바이오로직스  5.843390e+13  보통주  11.01
3       660    SK하이닉스  5.460020e+13  보통주   0.83
4     51910      LG화학  4.235540e+13  보통주   2.15
..      ...       ...           ...  ...    ...
761   19490      하이트론  2.373972e+10  보통주   1.14
762   25620   제이준코스메틱  2.321030e+10  보통주   0.38
763   71950       코아스  2.256226e+10  보통주   1.20
764    8500      일정실업  1.968000e+10  보통주   1.04
765   30790     비케이탑스  1.920832e+10  보통주   2.71

[766 rows x 5 columns]

In [ ]:
box = []
for i in data:
    temp = i.split('우')
    for i in range(len(temp)-1):
        if temp[i] == '':
            temp[i] = '우'
    box.append(temp)
result = []
for i in box:
    temp = ''
    for j in i:
        temp += j
    result.append(temp)
result