In [11]:
import pandas as pd
rf = pd.read_csv('csv/KOFR.csv')
rf['Date'] = pd.to_datetime(rf['일자'])
rf.drop(columns='일자', inplace=True)
rf = rf.sort_values('Date')
rf.reset_index(drop=True, inplace=True)
rf

      KOFR  30일평균(%)  90일평균(%)  180일평균(%)  KOFR Index       Date
0    3.485   3.41353   3.37471    3.24172  1077.56110 2023-04-03
1    3.420   3.41791   3.38036    3.24627  1077.66398 2023-04-04
2    3.419   3.42015   3.38558    3.25095  1077.76496 2023-04-05
3    3.344   3.42603   3.39111    3.25527  1077.86592 2023-04-06
4    3.303   3.42496   3.39576    3.25916  1077.96467 2023-04-07
..     ...       ...       ...        ...         ...        ...
237  3.550   3.50739   3.56765    3.61488  1115.27971 2024-03-20
238  3.569   3.50214   3.56689    3.61424  1115.38818 2024-03-21
239  3.491   3.49873   3.56622    3.61372  1115.49724 2024-03-22
240  3.409   3.47633   3.56159    3.61099  1115.81731 2024-03-25
241    NaN   3.46381   3.55934    3.60754  1115.92152 2024-03-26

[242 rows x 6 columns]

In [12]:
import yfinance as yf

start_date = '2023-04-01'
end_date = '2024-03-31'

kospi_data = yf.download('^KS11', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [16]:
kospi_data['Date'] = kospi_data.index
kospi_data.reset_index(drop=True, inplace=True)
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Date
0,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400,2023-04-03
1,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,2023-04-04
2,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,2023-04-05
3,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,2023-04-06
4,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,2023-04-07
...,...,...,...,...,...,...,...
236,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,2024-03-20
237,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2024-03-21
238,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,2024-03-22
239,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,2024-03-25
240,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,448301,2024-03-26

In [25]:
data = pd.merge(rf, kospi_data, on='Date')
data

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume
0,3.485,3.41353,3.37471,3.24172,1077.56110,2023-04-03,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400
1,3.420,3.41791,3.38036,3.24627,1077.66398,2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500
2,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400
3,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100
4,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000
...,...,...,...,...,...,...,...,...,...,...,...,...
236,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500
237,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700
238,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500
239,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600
240,NaN,3.46381,3.55934,3.60754,1115.92152,2024-03-26,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,448301

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume
0,3.485,3.41353,3.37471,3.24172,1077.56110,2023-04-03,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400
1,3.420,3.41791,3.38036,3.24627,1077.66398,2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500
2,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400
3,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100
4,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000
...,...,...,...,...,...,...,...,...,...,...,...,...
235,3.437,3.51660,3.57059,3.61594,1115.17470,2024-03-19,2673.570068,2673.570068,2645.139893,2656.169922,2656.169922,695900
236,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500
237,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700
238,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500
239,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600

In [29]:
data['rtn'] = data['KOFR'].pct_change() * 100
data['Daily_Return'] = data['Adj Close'].pct_change() * 100

data = data.dropna(axis=0)
data.reset_index(drop=True, inplace=True)

data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_85755/3431760746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['rtn'] = data['KOFR'].pct_change() * 100
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_85755/3431760746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Daily_Return'] = data['Adj Close'].pct_change() * 100

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume,rtn,Daily_Return
0,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,-0.029240,0.592618
1,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,-2.193624,-1.441962
2,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,-1.226077,1.267874
3,3.312,3.40953,3.40837,3.26974,1078.25732,2023-04-10,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,0.272480,0.870145
4,3.313,3.40520,3.41186,3.27090,1078.35516,2023-04-11,2523.330078,2550.969971,2514.419922,2547.860107,2547.860107,766800,0.030193,1.424319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,3.437,3.51660,3.57059,3.61594,1115.17470,2024-03-19,2673.570068,2673.570068,2645.139893,2656.169922,2656.169922,695900,2.658303,-1.104688
234,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,3.287751,1.278908
235,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,0.535211,2.405831
236,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,-2.185486,-0.228689
237,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,-2.348897,-0.399845

In [31]:
# kospi_data['Excess_Return'] = kospi_data['Daily_Return'] - rf_sorted['rtn']
result = []

for i in data.index :
    res = data.loc[i]['Daily_Return'] - data.loc[i]['rtn']
    result.append(res)
data['Excess_Return'] = result
data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_85755/226179746.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Excess_Return'] = result

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume,rtn,Daily_Return,Excess_Return
0,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,-0.029240,0.592618,0.621858
1,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,-2.193624,-1.441962,0.751662
2,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,-1.226077,1.267874,2.493950
3,3.312,3.40953,3.40837,3.26974,1078.25732,2023-04-10,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,0.272480,0.870145,0.597665
4,3.313,3.40520,3.41186,3.27090,1078.35516,2023-04-11,2523.330078,2550.969971,2514.419922,2547.860107,2547.860107,766800,0.030193,1.424319,1.394126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,3.437,3.51660,3.57059,3.61594,1115.17470,2024-03-19,2673.570068,2673.570068,2645.139893,2656.169922,2656.169922,695900,2.658303,-1.104688,-3.762992
234,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,3.287751,1.278908,-2.008843
235,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,0.535211,2.405831,1.870620
236,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,-2.185486,-0.228689,1.956798
237,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,-2.348897,-0.399845,1.949052

In [32]:
data.drop(columns=['30일평균(%)','90일평균(%)','180일평균(%)','KOFR Index','Open','High','Low','Close','Volume'], inplace=True)
data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_85755/2077674831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['30일평균(%)','90일평균(%)','180일평균(%)','KOFR Index','Open','High','Low','Close','Volume'], inplace=True)

      KOFR       Date    Adj Close       rtn  Daily_Return  Excess_Return
0    3.419 2023-04-05  2495.209961 -0.029240      0.592618       0.621858
1    3.344 2023-04-06  2459.229980 -2.193624     -1.441962       0.751662
2    3.303 2023-04-07  2490.409912 -1.226077      1.267874       2.493950
3    3.312 2023-04-10  2512.080078  0.272480      0.870145       0.597665
4    3.313 2023-04-11  2547.860107  0.030193      1.424319       1.394126
..     ...        ...          ...       ...           ...            ...
233  3.437 2024-03-19  2656.169922  2.658303     -1.104688      -3.762992
234  3.550 2024-03-20  2690.139893  3.287751      1.278908      -2.008843
235  3.569 2024-03-21  2754.860107  0.535211      2.405831       1.870620
236  3.491 2024-03-22  2748.560059 -2.185486     -0.228689       1.956798
237  3.409 2024-03-25  2737.570068 -2.348897     -0.399845       1.949052

[238 rows x 6 columns]